# Confidence Interval

In [57]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [58]:
ms = pd.DataFrame.from_csv('../data/microsoft.csv')
ms.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100

## Estimate the average stock return with 90% Confidence Interval

In [59]:
# we will use log return for average stock return of Microsoft

ms['logReturn'] = np.log(ms['Close'].shift(-1)) - np.log(ms['Close'])

In [61]:
ms.head(10)

,Open,High,Low,Close,Adj Close,Volume,logReturn
Date,,,,,,,
2014-12-31,46.730000,47.439999,46.450001,46.450001,42.848763,21552500,0.006652
2015-01-02,46.660000,47.419998,46.540001,46.759998,43.134731,27913900,-0.009238
2015-01-05,46.369999,46.730000,46.250000,46.330002,42.738068,39673900,-0.014786
2015-01-06,46.380001,46.750000,45.540001,45.650002,42.110783,36447900,0.012625
2015-01-07,45.980000,46.459999,45.490002,46.230000,42.645817,29114100,0.028994
2015-01-08,46.750000,47.750000,46.720001,47.590000,43.900375,29645200,-0.008441
2015-01-09,47.610001,47.820000,46.900002,47.189999,43.531395,23942800,-0.012581
2015-01-12,47.419998,47.540001,46.360001,46.599998,42.987129,23651900,-0.005163
2015-01-13,46.970001,47.910000,46.060001,46.360001,42.765747,35270600,-0.008666
2015-01-14,45.959999,46.240002,45.619999,45.959999,42.396751,29719600,-0.010499

In [94]:
# Lets build 90% confidence interval for log return
sample_size = ms['logReturn'].shape[0]
sample_mean = ms['logReturn'].mean()
sample_std = ms['logReturn'].std(ddof=1) / (sample_size)**0.5

# left and right quantile
z_left = norm.ppf(0.1)
z_right = norm.ppf(0.9)

# upper and lower bound
interval_left = sample_mean + z_left * sample_std
interval_right = sample_mean + z_right * sample_std

In [95]:
# 90% confidence interval tells you that there will be 90% chance that the average stock return lies between "interval_left"
# and "interval_right".

print('90% confidence interval is ', (interval_left, interval_right))

90% confidence interval is  (0.00016900921195778793, 0.0014714537602882566)

** Expected output: ** 90% confidence interval is  (-1.5603253899378836e-05, 0.001656066226145423)